.fold {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  width: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
    clear: both;
    padding: $half-spacing-unit/2 $half-spacing-unit;
    color: $color-white;
    cursor: pointer;
    font-size: $font-size;
    line-height: 11px;
    border: $border-dark;
    background-color: $color-fold-header-background--closed;
    height: 15px;
    border-radius: 5px;
    text-shadow: $text-shadow--dark-ui;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out,
      border 0.1s ease-in-out;

    &:hover {
      background-color: darken($color-fold-header-background--closed, 6%);
    }

    svg {
      width: 18px;
      height: 18px;
      @include drop-shadow--dark-ui();
      path {
        fill: currentColor;
      }
    }

    &--active {
      color: $color-white;
      background-color: $color-fold-header-background;
      border: 1px solid $color-fold-header-background;
      border-radius: 5px 5px 0 0;
      text-shadow: $text-shadow--dark-ui--inactive;

      svg {
        @include drop-shadow--dark-ui--lighter();
      }

      &:hover {
        background-color: darken($color-fold-header-background, 6%);
      }
    }

    &__title {
      margin-left: $half-spacing-unit/3;
      padding-top: 2px;
      font-size: $font-size-medium;
      font-weight: $font-weight-semibold;
      white-space: nowrap;
      max-width: 150px;
      letter-spacing: 0.2px;
    }

    &__arrow {
      will-change: transform;
      transition: transform 0.1s ease-in-out;
      transform: rotate(-180deg);
      font-weight: bold;
      transform-origin: center center;
      &--active {
        transform: rotate(-90deg);
      }
    }

    &__delete {
      font-size: 18px;
      opacity: 0.75;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__content {
    background: #ffffff;
    border: $border;
    border-width: 0 1px 1px 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &--noheader {
      border-width: 1px 1px 1px 1px;
    }
  }
}

.fold + .fold {
  margin-top: $half-spacing-unit;
}

.fold__top__arrow-title {
  display: flex;
}
.fold__delete {
  display: inline-block;
  color: $color-white;
  text-decoration: none;
  font-size: 1.5em;
}
