@use '../../mixins' as *;

.info {
  &__title {
    @include heading('small');
    padding: var(--spacing-half-unit) var(--spacing-half-unit) var(--spacing-quarter-unit)
      var(--spacing-half-unit);
  }
  &__text {
    padding: var(--spacing-quarter-unit) var(--spacing-half-unit);
    color: var(--color-text-base);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-leading-body);
  }
  &__sub-text {
    color: var(--color-text-base);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    font-style: italic;
    line-height: var(--font-leading-body);
    padding: var(--spacing-quarter-unit) var(--spacing-half-unit) var(--spacing-half-unit)
      var(--spacing-half-unit);
  }
}
