.info__title {
  color: $color-header-text;
  font-size: $font-size-medium;
  font-weight: $font-weight-semibold;
  line-height: 18px;
  padding: $half-spacing-unit $half-spacing-unit $quarter-spacing-unit
    $half-spacing-unit;
}

.info__text {
  padding: $quarter-spacing-unit $half-spacing-unit;
  color: $color-text;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  line-height: 18px;
}

.info__sub-text {
  color: $color-text;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  font-style: italic;
  line-height: 18px;
  padding: $quarter-spacing-unit $half-spacing-unit $half-spacing-unit
    $half-spacing-unit;
}
