.menupanel {
  padding-top: 0;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  &--ownline {
    padding-top: var(--spacing-quarter-unit);
    width: 100%;
  }
  &__label {
    font-weight: var(--font-weight-semibold);
    padding-right: var(--spacing-quarter-unit);
  }

  &__icon {
    vertical-align: middle;
    svg {
      display: block;
    }
    // gets overridden by user agent stylesheet otherwise
    width: 15px !important;
    height: 15px !important;
    fill: var(--color-text-light) !important;
    padding-left: var(--spacing-quarter-unit);
    &:hover {
      cursor: pointer;
      fill: var(--color-accent) !important;
    }
    &-span {
      font-size: var(--font-size-small);
      display: flex;
      &--question {
        color: var(--color-text-base);
      }
    }
  }
}
