.modalbox {
  position: absolute;
  border-radius: 2px;
  text-transform: none;
  text-align: left;
  border: $border;
  align-content: center;
  box-shadow: $base-box-shadow;
  left: 0;
  right: 0;

  margin: 0 24px;
  min-width: 200px;
  background-color: $color-white;

  @include z-index("cloud");
}

.modalbox--dark {
  background-color: $color-background-color-inverse;
}

.modalbox__cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include z-index("underground");
}
