.modalbox {
  position: absolute;
  border-radius: var(--border-radius);
  overflow: hidden;
  text-transform: none;
  text-align: left;
  border: var(--border-default);
  align-content: center;
  box-shadow: var(--box-shadow-base);
  left: var(--spacing-half-unit);
  width: calc(100% - var(--spacing-base-unit));
  top:calc(100% + var(--spacing-quarter-unit));
  background-color: var(--color-background-top);
  @include z-index('cloud');

  &__cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include z-index('underground');
  }

  &--dark {
    background-color: var(--color-background-inverse);
  }
}
