.panel {
  position: absolute;
  top: 21px;
  left: 0px;
  bottom: 5px;
  right: 1px;
  margin-left: 100px;
  background-color: $color-panel-background;
  overflow-y: scroll;
  padding-left: $half-spacing-unit;
  padding-right: $half-spacing-unit;
  padding-top: $half-spacing-unit;
}

.addButton {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 5px;
  float: right;
  background-color: $color-accent;
  border: 1px solid $color-accent;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(42, 63, 95, 0.7);
  &:hover {
    background-color: $color-button-hover;
    border: 1px solid $color-button-hover;
    color: #ffffff; // Repeating in case the button is made with an anchor tag
  }
  &:active {
    background-color: $color-accent-shade;
    border: 1px solid $color-accent-shade;
    color: #ffffff; // Repeating in case the button is made with an anchor tag
  }
}
