.panel {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: $color-panel-background;
  overflow-y: auto;
  padding: $half-spacing-unit;
  border-right: $border;
  box-sizing: border-box;
  width: calc(#{$layout-panel-width} - #{$layout-sidebar-width} - 1px);
  @include scrollbar();

  &__content {
  }

  &__header {
    margin-bottom: $half-spacing-unit;
    display: flex;
    &__content {
      flex-grow: 1;
    }
    &--align-right {
      justify-content: flex-end;
    }
  }

  &__add-button {
    font-size: 14px;
    //margin-left: 10px;
    //margin-bottom: 5px;
    background-color: $color-accent;
    border: 1px solid $color-accent;
    color: #ffffff;
    text-shadow: 0px 1px 2px rgba(42, 63, 95, 0.7);
    &:hover {
      background-color: $color-button-hover;
      border: 1px solid $color-button-hover;
      color: #ffffff; // Repeating in case the button is made with an anchor tag
    }
    &:active {
      background-color: $color-accent-shade;
      border: 1px solid $color-accent-shade;
      color: #ffffff; // Repeating in case the button is made with an anchor tag
    }
  }
}
