.panel {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: var(--panel-background);
  overflow-y: auto;
  padding: var(--spacing-half-unit);
  border-right: var(--border-default);
  box-sizing: border-box;
  position: relative;
  width: calc(var(--panel-width));
  @include scrollbar();
  &__header {
    margin-bottom: var(--spacing-half-unit);
    display: flex;
    &__content {
      flex-grow: 1;
    }
    &__actions__container {
      width: 100%;
    }
    &__collapse {
      font-size: var(--font-size-medium);
      float: left;
      color: var(--color-rhino-core);
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      svg {
        width: 16px !important;
        height: 16px !important;
        fill: var(--color-rhino-core);
        padding-right: 3px;
      }
    }
    &__action {
      float: right;
    }
  }

  &__empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--spacing-half-unit);
    background-color: var(--panel-background);
    box-sizing: border-box;
    @include z-index(orbit);
    display: flex;
    &__message {
      text-align: center;
      padding-top: calc(var(--spacing-base-unit) * 2);
      &__icon {
        margin-bottom: var(--spacing-half-unit);
        opacity: 0.5;
        svg {
          $size: 48px;
          width: $size !important;
          height: $size !important;
          path {
            fill: var(--color-text-light);
          }
        }
      }
      &__heading {
        @include heading();
      }
      &__content {
        font-size: var(--font-size-base);
        color: var(--color-text-base);
        line-height: var(--font-leading-body);
      }
    }
  }
}
