.section__heading {
  font-size: 13px;
  color: #69738a;
  font-weight: 400;
  cursor: default;
  background-color: #F4FAFF;
  padding: 6px 12px;
  clear: both;
  text-transform: capitalize;
}

.section__cog-menu {
  padding-left: 12px;
  vertical-align: middle;
}
