.section {
  &__heading {
    display: flex;
    font-size: var(--font-size-base);
    color: var(--color-text-header);
    font-weight: var(--font-weight-semibold);
    cursor: default;
    background-color: var(--color-background-light);
    padding: var(--spacing-quarter-unit) var(--spacing-half-unit);
    clear: both;
    text-transform: capitalize;
    border-top: var(--border-light);
    &__menu{

    }
  }
}
