{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "lib": "./src/lib",
          "styles": "./src/styles"
        }
      }
    ]
  ]
}
