$swatch-size: 20px;
$color-picker-width: 250px;
$color-picker-border-color: #bbb;
$saturation-picker-height: 160px;
$slider-picker-height: 10px;

.color-picker__popover {
    left: -90px;
    position: absolute;
    top: 100%;

    margin: 0.5 * $half-spacing-unit 0 $base-spacing-unit;
    width: $color-picker-width;
    background-color: $color-white;

    border-radius: $border-radius;

    $shadow-color: rgba(0, 0, 0, 0.15);
    @include vendor(
        box-shadow, ($shadow-color 0px 0px 0px 1px, $shadow-color 0px 8px 16px)
    );
    @include z-index("cloud");
}

.color-picker__cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include z-index("underground");
}

/*
 * TODO: hover interactions for ColorPicker
 * https://github.com/plotly/streambed/issues/5353
 */
.colorpicker-container {
    display: inline-block;
    line-height: 2;
    position: relative;
}

.colorpicker {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $lightgrey;
    vertical-align: middle;
    padding-top: $workspace-quarter-unit;
    padding-left: $workspace-quarter-unit;

}

.colorpicker-selected-color {
    margin-left: $workspace-unit;
    color: $color-muted-text;
    font-weight: $font-weight-light;
    font-size: $font-size-xs-rem;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.colorpicker-swatch {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.toolLabel {
    color: $color-muted-text;
    font-size: $font-size-xs-rem;
    font-weight: $font-weight-light;
}

/* Tieried Color Picker */
.color-picker-component {
    position: relative;
    overflow: hidden;
    margin: 0 $half-spacing-unit;
    border: 1px solid $color-picker-border-color;
    border-radius: $border-radius / 2;
    cursor: pointer;
}

/* Saturation wrapper style */
.color-picker-saturation {
    @extend .color-picker-component;
    height: $saturation-picker-height;
}

/* Wrapper style for Hue and Alpha sliders and swatch */
.color-picker-controls {
    margin: 0 $half-spacing-unit;

    .color-picker-sliders {
        width: 200px;

        .color-picker-slider {
            @extend .color-picker-component;
            margin: auto 0;
            height: $slider-picker-height;
            margin-top: 0.25 * $half-spacing-unit;
        }
    }

    .color-picker-active {
        @extend .color-picker-component;
        height: $base-spacing-unit;
        width: $base-spacing-unit;
        margin: 0.25 * $half-spacing-unit 0px 0px 0.5 * $half-spacing-unit;

        .color-picker-active-swatch {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            border-radius: $border-radius / 2;
            border: 1px solid #eee;
        }
    }
}

.color-picker-custom-input {
    margin: 0 $half-spacing-unit;
    margin-top: 0.25 * $half-spacing-unit;
    text-align: center;
}

.color-picker-preset-colors {
    margin: 0 $half-spacing-unit;
}

.color-picker-title {
    $title-margin: 0.25 * $half-spacing-unit;
    margin: $title-margin $title-margin * 2;
    font-size: $h5-size;
    font-weight: $font-weight-semibold;
}

.colorpicker-container {
  display: inline-block;
  line-height: 2;
  position: relative;
}

.colorpicker {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #dcdddd;
  vertical-align: middle;
  padding-top: 3px;
  padding-left: 3px;
  box-sizing: border-box;
}

.colorpicker-swatch {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.colorpicker-selected-color {
  margin-left: 12px;
  color: #777;
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
