version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/node:20.6.0-browsers

    working_directory: ~/react-chart-editor

    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package.json" }}
            - v2-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "package.json" }}

      - run: yarn test
      - run: yarn test:percy
