.field {
  align-items: flex-start;
  border-top: var(--border-light);
  color: var(--color-text-base);
  display: flex;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  justify-content: flex-start;
  line-height: var(--font-size-base);
  min-height: 32px;
  padding: var(--spacing-quarter-unit) 0;
  width: 100%;
}

.field:not(:last-child) {
  //border-bottom: 1px solid #f8f8f9;
}

.field__no-title {
  width: 100%;
  padding: 0 var(--spacing-half-unit);
  align-self: center;
  line-height: var(--font-leading-body);
}

.field__no-title--center {
  text-align: center;
}

.field__widget {
  display: flex;
  &:not(.field__widget--units) {
    flex-grow: 1;
  }
  flex-wrap: wrap;
  padding-right: var(--spacing-half-unit);
  padding-left: var(--spacing-half-unit);
}
.field__units {
  align-self: center;
}

.field__widget--units {
  padding-right: 0;
}

.field__title {
  width: 30%;
  padding-left: var(--spacing-half-unit);
  display: inline-block;
  font-size: var(--font-size-base);
  line-height: var(--font-leading-body);
  text-transform: capitalize;
  color: var(--color-text-base);
  padding-top: var(--spacing-quarter-unit);
}

.field__title-text {
  text-transform: capitalize;
  cursor: default;
}
