.field {
  align-items: flex-start;
  border-top: var(--border-light);
  color: var(--color-text-base);
  display: flex;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  justify-content: flex-start;
  line-height: var(--font-size-base);
  min-height: 32px;
  padding: var(--spacing-quarter-unit) 0;
  width: 100%;
  position: relative;
  &__no-title {
    width: 100%;
    padding: 0 var(--spacing-half-unit);
    align-self: center;
    line-height: var(--font-leading-body);
    &--center {
      text-align: center;
    }
  }
  &__widget {
    display: flex;
    flex-wrap: wrap;
    padding-right: var(--spacing-half-unit);
    padding-left: var(--spacing-half-unit);
    align-self: center;
    // if it has units, don't allow it to grow,
    // otherwise it should take up the available space
    &:not(.field__widget--units) {
      flex-grow: 1;
    }
    &--units {
      padding-right: 0;
    }
  }
  &__units {
    align-self: center;
  }
  &__title {
    width: 30%;
    padding-left: var(--spacing-half-unit);
    display: block;
    font-size: var(--font-size-base);
    line-height: var(--font-leading-body);
    color: var(--color-text-base);
    padding-top: var(--spacing-quarter-unit);
    user-select: none;
    &-text {
      text-transform: capitalize;
      cursor: default;
    }
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: var(--spacing-quarter-unit);
    opacity: 0.5;
    svg {
      display: block;
      path {
        fill: var(--color-text-base);
      }
    }
    &:hover {
      cursor: pointer;
      opacity: 1;
      svg {
        path {
          fill: var(--color-sienna);
        }
      }
    }
  }
}
