/*
 * SIZING AND WEIGHTS
 */
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-size-small: 12px;
$h5-size: 16px !default;

/*
 * SPACING
 */
$base-spacing-unit: 24px !default;
$half-spacing-unit: 12px;
$quarter-spacing-unit: 6px;
$sixth-spacing-unit: 4px;
$eighth-spacing-unit: 3px;

/*
 * BORDERS
 */
$border-radius: 2px;
$border-radius-5: 5px;

/*
 * COLORS
 */
$color-white: #ffffff;
$lightgrey: #dcdddd;
$color-muted-text: #777;
$dark-grey: #4c5059;
$color-page-background: #f3f6fa;
$color-highlight-darker: #bec8d9;

/*
 * COMPONENT
 */
$fold-border: 1px solid $color-highlight-darker;
