@charset 'utf-8';
@import 'variables/main';
@import 'mixins';
@import 'helpers';

.plotly-editor {
  position: relative;
  width: $layout-panel-width;
  overflow: hidden;
  display: flex;
  font-family: $ff-default;
  @import 'components/main';
  @import 'icons/main';
}

@import 'shame';
