.govuk-button {
  margin-bottom: 0;
  font-size: var(--font-size);

  // If a button is placed in the sidebar,
  // it should grow to the width of the available space.
  @at-root .sidebar .button {
    width: calc(100% - var(--spacing-base-unit));
    margin-left: var(--spacing-half-unit);
    margin-right: var(--spacing-half-unit);
  }

  &--no-text {
    @include button();
    padding-right: var(--spacing-quarter-unit);
    margin-left: 5px;
    &--disabled {
      @include button();
      padding-right: var(--spacing-quarter-unit);
      margin-left: 5px;
      color: rgb(186, 186, 186);
      cursor: default;
    }
  }
}
