.checkbox__group {
  padding-left: var(--spacing-half-unit);
  text-align: left;
}

.checkbox__item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  padding-top: 3px;
  padding-bottom: 3px;
}

.checkbox__item--vertical {
  display: block;
  clear: both;
}

.checkbox__box {
  height: 18px;
  width: 18px;
  border: var(--border-default);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
// TODO: replace with svg icon
.checkbox__check {
  color: var(--color-text-base);
  font-size: var(--spacing-half-unit);
}

.icon-check-mark:before {
  content: '\2714';
}

.checkbox__label {
  padding-left: var(--spacing-quarter-unit);
  font-size: var(--spacing-half-unit);
  display: inline-block;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
}
