.colorscalePickerContainer {
  position: relative;
  width: 300px;
  margin-left: -76px;
}

.colorscalePickerContainer::-webkit-scrollbar {
  width: 5px;
}

.colorscale-selected {
  display: none;
}

.rc-slider {
  width: 254px !important;
}

.colorscaleControlPanel {
  padding: 6px;
  width: 94%;
}

.colorscale-block {
  margin: 0 20px !important;
}
