$swatch-size: 20px;
$colorpicker-width: 250px;
$saturation-picker-height: 160px;
$slider-picker-height: 10px;

.colorpicker__popover {
  left: -90px;
  position: absolute;
  top: 100%;

  margin: $quarter-spacing-unit 0 $base-spacing-unit;
  width: $colorpicker-width;
  background-color: $color-white;

  border-radius: $border-radius;

  $shadow-color: rgba(0, 0, 0, 0.15);
  @include vendor(
        box-shadow, ($shadow-color 0px 0px 0px 1px, $shadow-color 0px 8px 16px)
    );
  @include z-index('cloud');
}

.colorpicker__cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include z-index('underground');
}

.colorpicker__container {
  display: inline-block;
  line-height: 2;
  position: relative;
}

.colorpicker {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid $color-border-secondary;
  vertical-align: middle;
  padding-top: $sixth-spacing-unit;
  padding-left: $sixth-spacing-unit;
}

.colorpicker__selected-color {
  margin-left: $half-spacing-unit;
  color: $color-text;
  font-weight: $font-weight-light;
  font-size: $font-size-small;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

.colorpicker__swatch {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

%colorpicker__component {
  position: relative;
  overflow: hidden;
  margin: 0 $half-spacing-unit;
  border: 1px solid $color-border;
  border-radius: $border-radius / 2;
  cursor: pointer;
}

/* Saturation wrapper style */
.colorpicker__saturation {
  @extend %colorpicker__component;
  height: $saturation-picker-height;
}

.colorpicker__custom-input {
  padding: $quarter-spacing-unit $half-spacing-unit;
}

/* Wrapper style for Hue and Alpha sliders and swatch */
.colorpicker__controls {
  margin: 0 $half-spacing-unit;

  .colorpicker__sliders {
    width: 200px;

    .colorpicker__slider {
      @extend %colorpicker__component;
      margin: auto 0;
      height: $slider-picker-height;
      margin-top: $eighth-spacing-unit;
    }
  }

  .colorpicker__active {
    @extend %colorpicker__component;
    height: $base-spacing-unit;
    width: $base-spacing-unit;
    margin: $eighth-spacing-unit 0px 0px $half-spacing-unit;

    .colorpicker__active-swatch {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: $border-radius / 2;
      border: 1px solid #eee;
    }
  }
}

.colorpicker__preset-colors {
  margin: 0 $half-spacing-unit;
}

.colorpicker__title {
  margin: $eighth-spacing-unit $quarter-spacing-unit;
  font-size: $h5-size;
  font-weight: $font-weight-semibold;
  color: $color-header-text;
}
