$colorscalepicker-width: 215px;

.colorscalePickerContainer {
  min-width: $colorscalepicker-width;
  position: relative;
  padding: 0;
  resize: none;
  border: none;
  background: none;
}

.colorscalePickerContainer::-webkit-scrollbar {
  width: 5px;
}

.colorscalePickerTopContainer {
  display: none;
}

.colorscaleDescription {
  display: none;
}

.colorscalePickerContainer input:focus {
  outline: none;
}

.customPickerContainer {
  margin-top: var(--spacing-quarter-unit);

  &__outer {
    width: $colorscalepicker-width;
  }
}
