.colorscalePickerContainer {
  min-width: 200px;
  position: relative;
  padding: 0;
  resize: none;
  border: none;
  background: none;
}

.colorscalePickerContainer::-webkit-scrollbar {
  width: 5px;
}

.colorscalePickerTopContainer {
  display: none;
}

.colorscaleDescription {
  display: none;
}

.colorscalePickerContainer input:focus {
  outline: none;
}

.customPickerContainer {
  margin-top: 10px;
}
