.datetimepicker-container {
  width: 220px;

  .mdi-icon {
    width: 20px;
    margin: 2px;
  }
  &__content {
    margin-top: 5px;
  }
}

.datetimepicker-container-input {
  margin-top: -20px;
}

.datetimepicker-container-icons {
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
}

.datetimepicker-time-icon--selected,
.datetimepicker-date-icon--selected {
  fill: var(--color-accent);
}

.datetimepicker-time-icon:hover,
.datetimepicker-date-icon:hover {
  fill: #899aaf;
}

.datepicker-container-rce {
  border: var(--border-default);
}

.datetimepicker-date-units {
  padding: 5px;
}
