.dropzone-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--color-border-default);
  height: 160px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: var(--border-radius);

  &__content {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--color-rhino-light-5);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__message {
    padding: 15px;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    position: relative;
  }

  &--active {
    border-color: var(--color-dodger);
  }

  &--rejected {
    border-color: red;
  }
}
