::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--color-text-placeholder);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--color-text-placeholder);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--color-text-placeholder);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--color-text-placeholder);
}

.numeric-input__wrapper {
  line-height: 20px;
  max-width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--color-text-base);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .numeric-input__wrapper {
    flex-basis: auto;
  }
}

.numeric-input__number {
  display: inline-block;
  border: var(--border-default);
  background: var(--color-background-inputs);
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  border-radius: var(--border-radius-small);
  padding: var(--spacing-quarter-unit);
  width: 62px;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

.numeric-input__caret-box {
  display: inline-block;
  max-height: 32px;
  margin-left: var(--spacing-quarter-unit);
  margin-right: var(--spacing-half-unit);
  vertical-align: middle;
  box-sizing: border-box;
}

.numeric-input__caret:first-child {
  margin-bottom: 2px;
}

.numeric-input__caret {
  cursor: pointer;
  background-color: var(--color-background-light);
  border: var(--border-default);
  border-radius: 1px;
  line-height: var(--spacing-half-unit);
  text-align: center;
  max-height: 13px;
}

.numeric-top-caret-modifier {
  // to prevent user agent override
  width: 13px !important;
  height: 13px !important;
  fill: var(--color-text-base) !important;
}

.numeric-bottom-caret-modifier {
  // to prevent user agent override
  width: 13px !important;
  height: 13px !important;
  fill: var(--color-text-base) !important;
}

.AxisInterval-milliseconds {
  width: 50%;
}
