.radio-block {
  width: 100%;
  line-height: var(--font-leading-head);
  display: flex;
  &__option {
    flex-grow: 1;
    padding: var(--spacing-quarter-unit) var(--spacing-half-unit);
    display: inline-block;
    cursor: pointer;
    min-width: 0;
    text-align: center;
    font-size: var(--font-size-small);
    &--active {
      cursor: default;
      background-color: govuk-colour("mid-grey");
      border-color: govuk-colour("mid-grey");
    }
  }

  .govuk-radios {
    margin-left: -10px;

    &__item {
      min-height: 30px;
      margin-bottom: 10px;
      padding-left: 35px;
      margin-right: 10px;
    }
    &__input {
      top: 10px;
      left: 10px;
      width: 20px;
      height: 20px;
    }
    &__label {
      font-size: var(--font-size-base);
      padding: 12px 0px 5px;

      &:before {
        border-width: 2px !important;
        top: 10px;
        left: 10px;
        width: 20px;
        height: 20px;
      }

      &:after {
        top: 15px;
        left: 15px;
        border-width: 5px;
      }
    }
  }
}
