.radio-block {
  width: 100%;
  line-height: var(--font-leading-head);
  &__option {
    padding: var(--spacing-quarter-unit) var(--spacing-half-unit);
    background-color: var(--color-background-top);
    border: var(--border-default);
    display: inline-block;
    cursor: pointer;
    min-width: 0px;
    text-align: center;
    &:not(.radio-block__option--active) {
      &:hover {
        background-color: var(--color-background-light);
        color: var(--color-text-active);
      }
    }
    &--active {
      background-color: var(--color-button-primary-base-fill);
      color: var(--color-button-primary-base-text);
      border: var(--color-button-primary-base-border);
      margin-left: -1px;
      cursor: default;
      text-shadow: var(--text-shadow-dark-ui);
      font-weight: var(--font-weight-semibold);
      &:not(:first-child), &:last-child {
        border-left: var(--border-accent-shade) !important;
      }
    }
    &:not(:first-child):not(:last-child) {
      border-left: 0;
    }
    &:last-child {
      border-top-right-radius: var(--border-radius-small);
      border-bottom-right-radius: var(--border-radius-small);
      border-left: 0;
    }
    &:first-child {
      border-top-left-radius: var(--border-radius-small);
      border-bottom-left-radius: var(--border-radius-small);
      &:not(.radio-block__option--active) {
        border-left: var(--border-default);
      }
    }
  }
}
