::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--color-text-placeholder);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--color-text-placeholder);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--color-text-placeholder);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--color-text-placeholder);
}

.text-input {
  display: inline-block;
  border: var(--border-default);
  background: var(--color-background-inputs);
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  border-radius: var(--border-radius-small);
  padding: var(--spacing-quarter-unit) var(--spacing-quarter-unit)
    var(--spacing-quarter-unit) var(--spacing-half-unit);
  width: 140px;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
