$item-size: 90px;
.trace-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  &__column {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;

    &:not(:first-of-type) {
      position: relative;
      &::before {
        position: absolute;
        width: 1px;
        border-left: var(--border-light);
        height: 100%;
        top: 0;
        left: 0;
        content: '';
      }

      .trace-grid__column__header {
        position: relative;
        z-index: 99;
      }
    }

    &--double {
      grid-column: span 2;
      flex-grow: 0;
      .trace-grid__column__items {
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &__items {
      display: grid;
      grid-gap: 0;
      grid-template-columns: repeat(2, $item-size);
      flex-grow: 1;
      width: 100%;
      padding: 0 var(--spacing-half-unit) var(--spacing-base-unit);
    }

    &__header {
      text-transform: capitalize;
      font-weight: var(--font-weight-semibold);
      color: var(--color-text-base);
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-top: var(--border-light);
      width: 100%;
      padding: var(--spacing-base-unit) var(--spacing-base-unit) 0;
      box-sizing: border-box;
    }
  }
}

.trace-item {
  width: $item-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  margin-top: var(--spacing-base-unit);
  color: var(--color-text-base);
  @include trans;
  position: relative;

  &--active {
    .trace-item__image {
      border-color: var(--color-accent);
      border-width: 2px;
      color: var(--color-accent);
    }
  }

  &__actions {
    position: absolute;
    width: calc(100%);
    display: flex;
    flex-direction: column;
    top: 0;
    left: var(--spacing-quarter-unit);
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 99;

    &:hover {
      .trace-item__actions__item {
        transform: translateX(-2px);
        opacity: 1;
        pointer-events: initial;
      }
    }
    &__item {
      transform: translateX(-10px);
      opacity: 0;
      pointer-events: none;
      color: var(--color-text-light);
      &:not(:last-child) {
        margin-bottom: var(--spacing-quarter-unit);
      }
      &:hover {
        color: var(--color-accent);
      }
      @include trans;
      svg {
        display: block;
        width: 16px;
        height: 16px;
        fill: currentColor;
      }
    }
  }

  &:hover {
    cursor: pointer;
    color: var(--color-accent);
    .trace-item__label {
      color: var(--color-accent);
    }
    .trace-item__image {
      border-color: var(--color-accent);
    }
  }
  &__image {
    position: relative;
    z-index: 2;
    $size: 60px;
    border: 1px solid var(--color-border-default);
    width: $size;
    height: $size;
    border-radius: var(--border-radius);
    background: var(--color-background-top);
    box-shadow: 0 2px 9px transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    @include trans;

    &__svg {
      width: 100%;
      flex-grow: 1;
      padding: var(--spacing-quarter-unit);
    }
    svg {
      display: block;
    }

    img {
      display: block;
      font-size: 10px;
      color: var(--color-text-base);
    }
    &__wrapper {
      width: 100%;
    }
  }
  &__label {
    font-weight: var(--font-weight-semibold);
    width: $item-size * 0.8;
    height: 34px;
    margin-top: var(--spacing-half-unit);
    color: var(--color-text-base);
    text-transform: capitalize;
    font-size: var(--font-size-small);
    text-align: center;
  }
}

.trace-type-select-dropdown__wrapper {
  & > * {
    & > * {
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
      .Select:not(.is-open) .Select-control {
        border-color: var(--color-border-dark);
      }
    }
  }
}

.trace-type-select-button {
  display: flex;
  align-items: center;
  border: var(--border-default);
  width: 100%;
  height: 36px;
  border-radius: var(--border-radius);
  padding: 0 var(--spacing-quarter-unit);
  &:hover {
    cursor: pointer;
    border-color: var(--color-border-dark);
  }
  &__icon {
    max-width: 20px;
    width: 20px;
    margin-right: var(--spacing-quarter-unit);
    svg {
      max-width: 100%;
      display: block;
      * {
        fill: currentColor;
      }
    }
  }
}
