.trace-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  &__column {
    padding: 0 var(--spacing-quarter-unit);
    flex-grow: 1;
    text-align: center;
    &__header {
      text-transform: capitalize;
      font-weight: var(--font-weight-semibold);
      color: var(--color-text-base);
      text-align: center;
    }
  }
}

.trace-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--spacing-base-unit);
  @include trans;
  position: relative;

  &__actions {
    position: absolute;
    width: calc(100% + 10px);
    display: flex;
    flex-direction: column;
    top: 0;
    left: -5px;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 99;

    &:hover {
      .trace-item__actions__item {
        transform: translateX(2px);
        opacity: 1;
        pointer-events: initial;
      }
    }
    &__item {
      transform: translateX(-5px);
      opacity: 0;
      pointer-events: none;
      color: var(--color-text-light);
      &:not(:last-child) {
        margin-bottom: var(--spacing-quarter-unit);
      }
      &:hover {
        color: var(--color-accent);
      }
      @include trans;
      svg {
        display: block;
        width: 16px;
        height: 16px;
        * {
          fill: currentColor;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;

    .trace-item__label {
      color: var(--color-accent);
    }
    .trace-item__image {
      border-color: var(--color-accent);
      //box-shadow: var(--box-shadow-base);
    }
  }
  &__image {
    position: relative;
    z-index: 2;
    $size: 60px;
    border: 1px solid var(--color-border-default);
    width: $size;
    height: $size;
    border-radius: var(--border-radius);
    background: var(--color-background-top);
    box-shadow: 0px 2px 9px transparent;
    @include trans;

    img {
      display: block;
    }
  }
  &__label {
    width: 90px;
    margin-top: var(--spacing-half-unit);
    color: var(--color-text-base);
    text-transform: capitalize;
    font-size: var(--font-size-small);
  }
}

.trace-type-select-dropdown__wrapper {
  & > * {
    & > * {
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
      .Select:not(.is-open) .Select-control {
        border-color: var(--color-border-dark);
      }
    }
  }
}
