/*
 * SIZING AND WEIGHTS
 */
$default-font-weight-light: 300;
$default-font-weight-normal: 400;
$default-font-weight-semibold: 600;
$default-font-size: 13px;
$default-font-size-small: 12px;
$default-font-size-medium: 14px;
$default-h5-size: 16px !default;

/*
 * SPACING
 */
$default-base-spacing-unit: 24px !default;
$default-half-spacing-unit: 12px;
$default-quarter-spacing-unit: 6px;
$default-sixth-spacing-unit: 4px;
$default-eighth-spacing-unit: 3px;

/*
 * BORDERS
 */
$default-border-radius: 2px;
$default-border-radius-5: 5px;

/*
 * COLORS
 */
$default-color-black-dark: #000;
$default-color-black-paleish: #333;
$default-color-black-pale: #666;
$default-color-black: #111;
$default-color-navyblue: #284576;
$default-color-blue: #119dff;
$default-color-blue-dark: darken($default-color-blue, 20%);
$default-color-blue-pale: #45a9ff;
$default-color-blue-paleish: #2391fe;
$default-color-cyan-pale: #9bd1ff;
$default-color-gold: #f7bd0c;
$default-color-gray-blue: #69738a;
$default-color-gray-blue-pale: #bec8d9;
$default-color-gray-dark: #888;
$default-color-gray-light: #ddd;
$default-color-gray: #ccc;
$default-color-green-cyan: #53cf9d;
$default-color-green-pale: #dff0d8;
$default-color-green: #3c763d;
$default-color-red-pale: #f2dede;
$default-color-red: #a94442;
$default-color-white-blue: #f4faff;
$default-color-white-dark: #eee;
$default-color-white-darkish: #f8f8f8;
$default-color-white: #ffffff;

// ---
// Text and Backgrounds
// ---
$default-color-rhino-core: #2a3f5f; // Active state text, emphasized text
$default-color-rhino-dark: #506784; // Default text color
$default-color-rhino-medium-1: #a2b1c6;
$default-color-rhino-medium-2: #c8d4e3; // Border Default
$default-color-rhino-light-1: #dfe8f3; // Border Secondary
$default-color-rhino-light-2: #ebf0f8; // Button Secondary
$default-color-rhino-light-3: #f3f6fa; // Page Background
$default-color-rhino-light-4: #fafbfd; // Modal Tabbed Content Background

// ---
// Primary
// --
$default-color-dodger: #119dff; // Accent
$default-color-dodger-shade: #0d76bf; // Link Hover

// ---
// Accent
// ---
$default-color-aqua: #09ffff;
$default-color-aqua-shade: #19d3f3; // Body Text
$default-color-lavender: #e763fa;
$default-color-lavender-shade: #ab63fa;
$default-color-cornflower: #636efa;
$default-color-emerald: #00cc96; // CTA's on blue backgrounds
$default-color-sienna: #ef553b; // CTA's on blue backgrounds

// ---
// Buttons
// ---
$default-color-button-default: #119dff;
$default-color-button-hover: #0f89df;
$default-color-button-active: #0d76bf;

// button default styles
button {
  display: inline-block;
  border-radius: 5px;
  border-color: transparent;
  padding: 9px 18px;
  line-height: 1;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn--primary {
  background-color: $default-color-dodger;
  border: 1px solid $default-color-dodger;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(42, 63, 95, 0.7);
  &:hover {
    background-color: $default-color-button-hover;
    border: 1px solid $default-color-button-hover;
    color: #ffffff; // Repeating in case the button is made with an anchor tag
  }
  &:active {
    background-color: $default-color-button-active;
    border: 1px solid $default-color-button-active;
    color: #ffffff; // Repeating in case the button is made with an anchor tag
  }
}

.btn--default {
  background-color: $default-color-rhino-light-4;
  border: 1px solid $default-color-rhino-medium-2;
  color: $default-color-rhino-dark;
  font-weight: 600;
  letter-spacing: 0px;
  &:hover {
    background-color: rgba(163, 178, 198, 0.2);
    border-color: $default-color-rhino-medium-1;
    color: $default-color-rhino-dark;
  }
  &:active {
    background-color: rgba(163, 178, 198, 0.35);
  }
}

.btn--secondary {
  background-color: #ffffff;
  border: 1px solid $default-color-rhino-medium-2;
  color: $default-color-rhino-dark;
  &:hover {
    color: $default-color-rhino-core;
    border-color: $default-color-rhino-medium-1;
  }
  &:active {
    border-color: $default-color-rhino-dark;
  }
}
