@import 'defaults';

.plotly-editor {
  // Base Color Variables
  @each $var, $val in $colors {
    @if type-of($val) == map {
      @each $var-n, $val-n in $val {
        @if type-of($val-n) == map {
          @each $var-i, $val-i in $val-n {
            #{--color}-#{$var}-#{$var-n}-#{$var-i}: $val-i;
          }
        } @else {
          #{--color}-#{$var}-#{$var-n}: $val-n;
        }
      }
    } @else {
      #{--color}-#{$var}: $val;
    }
  }

  // Brand Colors
  @each $var, $val in $brand {
    #{--color}-#{$var}: $val;
  }

  // Text Color
  @each $var, $val in $text {
    #{--color}-#{$var}: $val;
  }
  // Border Colors
  @each $var, $val in $border-colors {
    #{--color-border}-#{$var}: $val;
  }
  // Background Colors
  @each $var, $val in $fills {
    #{--color}-#{$var}: $val;
  }
  // Button Color Variables
  @each $var, $val in $buttons {
    @if type-of($val) == map {
      @each $var-n, $val-n in $val {
        #{--color-button}-#{$var}-#{$var-n}: $val-n;
      }
    } @else {
      #{--color}-#{$var}: $val;
    }
  }

  // Spacing Units
  @each $var, $val in $spacing {
    #{--spacing}-#{$var}: $val;
  }

  // Font Variables (font-size, weight, etc)
  @each $var, $val in $font {
    @each $var-n, $val-n in $val {
      #{--font}-#{$var}-#{$var-n}: $val-n;
    }
  }

  @each $var, $val in $borders {
    #{--border}-#{$var}: $val;
  }

  @each $var, $val in $text-shadows {
    #{--text-shadow}-#{$var}: $val;
  }
  @each $var, $val in $box-shadows {
    #{--box-shadow}-#{$var}: $val;
  }

  @each $var, $val in $scrollbar {
    #{--scrollbar}-#{$var}: $val;
  }

  @each $var, $val in $panel {
    #{--panel}-#{$var}: $val;
  }
  @each $var, $val in $fold {
    #{--fold}-#{$var}: $val;
  }
  @each $var, $val in $sidebar {
    #{--sidebar}-#{$var}: $val;
  }
}

/*
 * Typography
 */

$font-weight-light: var(--font-weight-light);
$font-weight-normal: var(--font-weight-normal);
$font-weight-semibold: var(--font-weight-semibold);
$font-size: var(--font-size-body);
$font-size-small: var(--font-size-small);
$font-size-medium: var(--font-size-medium);
$h5-size: var(--font-size-h5);

/*
 * SPACING
 */

$base-spacing-unit: var(--spacing-base-unit);
$half-spacing-unit: var(--spacing-half-unit);
$quarter-spacing-unit: var(--spacing-quarter-unit);
$sixth-spacing-unit: var(--spacing-sixth-unit);
$eighth-spacing-unit: var(--spacing-eighth-unit);

/*
 * BORDERS
 */

$border: 1px solid $color-border;
$border-dark: 1px solid $color-border-dark;
$border-secondary: 1px solid $color-border-secondary;
$border-light: 1px solid var(--color-rhino-light-2);
$border-accent: 1px solid $color-accent;
$border-accent-shade: 1px solid $color-accent-shade;
$border-radius: $default-border-radius;
$border-radius-5: $default-border-radius-5;


/*
 * Typography
 */
$ff-default: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/*
 * Effects
 */
$base-box-shadow: 0px 2px 9px rgba(80, 103, 132, 0.2);
$text-shadow--dark-ui: 0 1px 2px rgba(42, 63, 95, 0.7);
$text-shadow--dark-ui--inactive: 0 1px 1px rgba(42, 63, 95, 0.4);

@mixin drop-shadow--dark-ui {
  filter: drop-shadow($text-shadow--dark-ui);
}
@mixin drop-shadow--dark-ui--lighter {
  filter: drop-shadow($text-shadow--dark-ui--inactive);
}
