// ---------------------------------------------------------------------------------------------------------------------
// _theme.scss
// This file maps out any variables that we use for theming the editor. These SCSS maps are parsed and result in
// custom css properties / css4 variables.
// ---------------------------------------------------------------------------------------------------------------------

// Brand Colors
$brand: (
  accent:var(--color-dodger),
  accent-shade:var(--color-dodger-shade),
  brand: var(--color-navyblue),
  hightlight-darker: var(--color-gray-blue-pale)
);
// Text Colors
$text: (
  text-base: var(--color-rhino-dark),
  text-light: var(--color-rhino-medium-1),
  text-dark: var(--color-rhino-core),
  active-text: var(--color-rhino-core)
);
// Border Colors
$border-colors: (
  default: var(--color-rhino-medium-2),
  light: var(--color-rhino-light-1),
  dark: var(--color-rhino-medium-1),
  accent: var(--color-accent)
);
// Border styles
$borders: (
  default:1px solid var(--color-border-default),
  light:1px solid var(--color-border-light),
  dark:1px solid var(--color-border-dark),
  accent:1px solid var(--color-border-accentt)
);
// Panel Styles + Colors
$panel: (background: #fafbfd);
// Sidebar
$sidebar: (background: white);
// Buttons
$buttons: (
  primary-base:(
      fill: var(--color-dodger),
      border: var(--color-dodger-shade),
      text: var(--color-white)
    ),
  primary-hover:(
      fill: var(--color-dodger-shade-mid),
      border: var(--color-dodger-shade),
      text: var(--color-white)
    ),
  primary-active:(
      fill: var(--color-dodger-shade),
      border: var(--color-dodger-shade),
      text: var(--color-white)
    ),
  secondary-base:(
      fill: transparent,
      border: var(--color-rhino-medium-2),
      text: var(--color-text)
    ),
  secondary-hover:(
      fill: transparent,
      border: var(--color-rhino-medium-1),
      text: var(--color-text-dark)
    ),
  secondary-active:(
      fill: transparent,
      border: var(--color-rhino-medium-1),
      text: var(--color-text-dark)
    ),
  tertiary-base:(
      fill: transparent,
      border: transparent,
      text: var(--color-text)
    ),
  tertiary-hover:(
      fill: transparent,
      border: transparent,
      text: var(--color-text-dark)
    ),
  tertiary-active:(
      fill: transparent,
      border: transparent,
      text: var(--color-text-dark)
    ),
  default-base:(
      fill: transparent,
      border: var(--color-rhino-medium-2),
      text: var(--color-text)
    ),
  default-hover:(
      fill: transparent,
      border: var(--color-rhino-medium-1),
      text: var(--color-text-dark)
    ),
  default-active:(
      fill: transparent,
      border: var(--color-rhino-medium-1),
      text: var(--color-text-dark)
    ),
  upgrade-base:(
      fill: var(--color-lavender-shade),
      border: var(--color-lavender-shade-dark),
      text: var(--color-white)
    ),
  upgrade-hover:(
      fill: var(--color-lavender-shade-mid),
      border: var(--color-lavender-shade-dark),
      text: var(--color-white)
    ),
  upgrade-active:(
      fill: var(--color-lavender-shade-dark),
      border: var(--color-lavender-shade-dark),
      text: var(--color-white)
    ),
  header-base:(
      fill: transparent,
      border: var(--color-dodger),
      text: var(--color-dodger)
    ),
  header-hover:(
      fill: transparent,
      border: var(--color-dodger-shade-mid),
      text: var(--color-dodger-shade)
    ),
  header-active:(
      fill: transparent,
      border: var(--color-dodger-shade),
      text: var(--color-dodger-shade)
    )
);

$theme: (
  buttons: $buttons,
  panel: $panel,
  sidebar: $sidebar
);
