// ---------------------------------------------------------------------------------------------------------------------
// _theme.scss
// This file maps out any variables that we use for theming the editor. These SCSS maps are parsed and result in
// custom css properties / css4 variables.
// ---------------------------------------------------------------------------------------------------------------------

@import "node_modules/govuk-frontend/govuk/settings/colours-applied";
@import "node_modules/govuk-frontend/govuk/helpers/colour";

// Brand Colors
$brand: (
  accent: govuk-colour("blue"),
  accent-shade: govuk-colour("dark-blue"),
  accent-shade-mid: govuk-colour("light-blue"),
  brand: govuk-colour("blue"),
  hover: govuk-colour("blue")
);
// Text Colors
$text: (
  text-base: govuk-colour("black"),
  text-light: govuk-colour("dark-grey"),
  text-dark: govuk-colour("black"),
  text-headings: govuk-colour("black"),
  text-section-header: govuk-colour("black"),
  text-active: govuk-colour("blue"),
  text-placeholder: govuk-colour("dark-grey")
);
// Border Colors
$border-colors: (
  default: govuk-colour("mid-grey"),
  light: govuk-colour("light-grey"),
  dark: govuk-colour("dark-grey"),
  hover: govuk-colour("mid-grey"),
  accent: var(--color-accent),
  accent-shade: var(--color-accent-shade),
  input: govuk-colour("black")
);
// Border styles
$borders: (
  default: 1px solid govuk-colour("mid-grey"),
  light:1px solid govuk-colour("light-grey"),
  dark:1px solid govuk-colour("dark-grey"),
  input: 1px solid govuk-colour("black"),
  accent:1px solid var(--color-border-accent),
  accent-shade:1px solid var(--color-border-accent-shade),
  focused: 3px solid govuk-colour("yellow"),
  active: 1px solid var(--color-border-accent-shade),
  radius: 0,
  radius-small: 0
);
$fills: (
  background: govuk-colour("light-grey"),
  background-base: govuk-colour("light-grey"),
  background-light: govuk-colour("light-grey"),
  background-medium: govuk-colour("light-grey"),
  background-dark: govuk-colour("dark-grey"),
  background-top: govuk-colour("white"),
  background-inverse: govuk-colour("mid-grey"),
  background-inputs: govuk-colour("white")
);

$box-shadows: (
  base-color: rgba(80, 103, 132, 0.2),
  base: 0px 2px 9px var(--box-shadow-base-color)
);
$text-shadows: (
  dark-color:rgba(42, 63, 95, 0.7),
  dark-ui: 0 1px 2px var(--text-shadow-dark-color),
  dark-ui-inactive: 0 1px 1px rgba(42, 63, 95, 0.4)
);
$scrollbar: (
  track-background: var(--color-background-base),
  thumb-color: var(--color-accent)
);
// Panel Styles + Colors
$panel: (
  background: govuk-colour("white"),
  width: $layout-panel-width
);
// Sidebar
$sidebar: (
  background: govuk-colour("white"),
  width: $layout-sidebar-width,
  group-background-base: var(--sidebar-background),
  item-background-base: var(--color-white),
  item-background-hover: var(--color-background-base),
  item-background-active: govuk-colour("blue")
);
$fold: (
  header-text-color-base: govuk-colour("white"),
  header-text-color-closed: govuk-colour("white"),
  header-background-base: govuk-colour("mid-grey"),
  header-background-closed: govuk-colour("dark-grey"),
  header-border-color-closed: govuk-colour("dark-grey"),
  header-border-color-base: govuk-colour("mid-grey")
);
// Buttons
$buttons: (
  primary-base:(
      fill: var(--color-accent),
      border: var(--color-accent-shade),
      text: var(--color-white)
    ),
  primary-hover:(
      fill: var(--color-accent-shade-mid),
      border: var(--color-accent-shade),
      text: var(--color-white)
    ),
  primary-active:(
      fill: var(--color-accent-shade),
      border: var(--color-accent-shade),
      text: var(--color-white)
    ),
  secondary-base:(
      fill: transparent,
      border: var(--color-rhino-medium-2),
      text: var(--color-text-base)
    ),
  secondary-hover:(
      fill: transparent,
      border: var(--color-rhino-medium-1),
      text: var(--color-text-dark)
    ),
  secondary-active:(
      fill: transparent,
      border: var(--color-rhino-medium-1),
      text: var(--color-text-dark)
    ),
  tertiary-base:(
      fill: transparent,
      border: transparent,
      text: var(--color-text-base)
    ),
  tertiary-hover:(
      fill: transparent,
      border: transparent,
      text: var(--color-text-dark)
    ),
  tertiary-active:(
      fill: transparent,
      border: transparent,
      text: var(--color-text-dark)
    ),
  default-base:(
      fill: var(--color-background-light),
      border: var(--color-border-default),
      text: var(--color-text-base)
    ),
  default-hover:(
      fill: var(--color-background-base),
      border: var(--color-border-dark),
      text: var(--color-text-dark)
    ),
  default-active:(
      fill: var(--color-background-dark),
      border: var(--color-border-dark),
      text: var(--color-text-dark)
    ),
  upgrade-base:(
      fill: var(--color-lavender-shade),
      border: var(--color-lavender-shade-dark),
      text: var(--color-white)
    ),
  upgrade-hover:(
      fill: var(--color-lavender-shade-mid),
      border: var(--color-lavender-shade-dark),
      text: var(--color-white)
    ),
  upgrade-active:(
      fill: var(--color-lavender-shade-dark),
      border: var(--color-lavender-shade-dark),
      text: var(--color-white)
    ),
  header-base:(
      fill: transparent,
      border: var(--color-dodger),
      text: var(--color-dodger)
    ),
  header-hover:(
      fill: transparent,
      border: var(--color-dodger-shade-mid),
      text: var(--color-dodger-shade)
    ),
  header-active:(
      fill: transparent,
      border: var(--color-dodger-shade),
      text: var(--color-dodger-shade)
    )
);

$theme: (
  buttons: $buttons,
  panel: $panel,
  sidebar: $sidebar
);
