$default-border-radius: 2px;
$default-border-radius-5: 5px;
$default-base-spacing-unit: 24px;
$default-half-spacing-unit: 12px;
$default-quarter-spacing-unit: 6px;
$default-sixth-spacing-unit: 4px;
$default-eighth-spacing-unit: 3px;


$spacing: (
        base-unit: 24px,
        half-unit: 12px,
        quarter-unit: 6px,
        sixth-unit: 4px,
        eighth-unit: 3px
);

