.icon-cog:before {
  content: '\61';
}
.icon-question-circle:before {
  content: '\62';
}
.icon-caret-down:before {
  content: '\63';
}
.icon-angle-down:before {
  content: '\64';
}
.icon-caret-up:before {
  content: '\65';
}
.icon-cancel:before {
  content: '\66';
}
.icon-link:before {
  content: '\67';
}
