.sidebar {
  user-select: none;
  height: 100%;
  min-width: $layout-sidebar-width;
  width: $layout-sidebar-width;
  max-width: $layout-sidebar-width;
  text-align: center;
  background: #fff;
  overflow-y: auto;
  float: left;
  border-right: 1px solid $color-border;
  flex-grow: 1;
  @include scrollbar(5px);
}

.sidebar-group--is-active {
  color: #2a3f5f;
  font-weight: 600;
  cursor: default;
  border-left: 3px solid #119dff;
}

.sidebar-group {
  background-color: #fff;
  cursor: pointer;
  width: 100%;
}

.sidebar-group__title {
  color: #506784;
  font-size: 14px;
  font-weight: $font-weight-normal;
  padding: $half-spacing-unit 0;
  text-transform: capitalize;
  text-align: left;
  border-bottom: $border-light;
}

.sidebar-group__title:before {
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #506784;
  content: '';
  @include trans;
}

.sidebar-group--is-expanded .sidebar-group__title:before {
  transform: rotate(90deg);
}

.sidebar-group--is-expanded .sidebar-group__title {
  box-shadow: $base-box-shadow;
  position: relative;
}

.sidebar-item {
  color: #69738a;
  cursor: pointer;
  font-size: 14px;
  font-weight: $font-weight-normal;
  line-height: 14px;
  text-transform: capitalize;
  background-color: #f3f6fa;
  padding: $half-spacing-unit;
  padding-left: $base-spacing-unit;
  padding-right: 0;
  text-align: left;
  border-bottom: $border-light;
  position: relative;
  overflow: hidden;
  &::before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 8px;
    background-color: $color-accent;
    transform: scaleX(0);
    transform-origin: left center;
    will-change: transform;
    @include trans;
  }
  span{
    display: block;
    will-change: transform;
    @include trans;
  }
  &:not(.sidebar-item--is-active){
    &:hover{
      background-color: darken(#f3f6fa, 2%);
    }
  }
}

.sidebar-item--is-active {
  &::before{
    transform: none;
  }
  color: #2a3f5f;
  font-weight: $font-weight-semibold;
  cursor: default;
  span{
    transform: translateX(5px);
  }
}
