.plotlyjsReactEditor {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #aaa;
  display: inline-block;
  width: 375px;
  min-height: 400px;
  overflow: hidden;
}

.editModeMenu {
  user-select: none;
  height: 100%;
  width: 100px;
  text-align: center;
  background: #fff;
  overflow-y: scroll;
  float: left;
  border-right: 1px solid #f3f6fa;
}

.editModeMenu-itemTitle {
  background-color: #fff;
  color: #506784;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0;
  text-transform: capitalize;
  width: 100%;
  text-align: left;
}

.editModeMenu-itemTitle:before {
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-left: 5px solid #506784;
  content: '';
  transition: all 0.15s ease-in-out;
}

.editModeMenu-item.is-expanded .editModeMenu-itemTitle:before {
  transform: rotate(90deg);
}

.editModeMenu-item.is-expanded .editModeMenu-itemTitle {
  box-shadow: 0px 3px 4px rgba(80,103,132,0.2);
  position: relative;
}

.editModeMenu-subItem {
  color: #69738a;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  text-transform: capitalize;
  background-color: #f3f6fa;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 1.5em;
  text-align: left;
}

.editModeMenu-subItem.is-active {
  color: #2a3f5f;
  font-weight: 600;
  cursor: default;
  border-left: 3px solid #119DFF;
}

.panel {
  position: absolute;
  top: 21px;
  left: 0px;
  bottom: 5px;
  right: 1px;
  margin-left: 100px;
  background-color: #f3f6fa;
  overflow-y: scroll;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
}

.field {
  width: 100%;
  padding: 6px 0;
  display: block;
}

.field:not(:last-child) {
  border-bottom: 1px solid #f8f8f9;
}

.field-title {
  padding-left: 0.5em;
  color: #69738a;
  font-size: 14px;
  width: 36%;
  display: inline-block;
}

.field-control {
  width: 60%;
  display: inline-block;
  padding-right: 0.5em;
}

.tracePanel-panel {
  background: #ffffff;
  border: 1px solid #bec8d9;
  border-width: 0 1px 1px 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 6px;
}

.tracePanel-top {
  clear: both;
  padding: 6px 12px;
  color: #ffffff;
  font-size: 13px;
  line-height: 13px;
  border: 1px solid #a2b1c6;
  background-color: #a2b1c6;
  height: 15px;
  border-radius: 5px;
  text-shadow: 0px 1px 2px rgba(42,63,95,0.7);
  -moz-transition: background-color 0.1s ease-in-out,color 0.1s ease-in-out,border 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out,color 0.1s ease-in-out,border 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out,color 0.1s ease-in-out,border 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out,color 0.1s ease-in-out,border 0.1s ease-in-out;
}

.tracePanel-top--active {
  color: #fff;
  background-color: #506784;
  border: 1px solid #506784;
  border-radius: 5px 5px 0 0;
}

